
.layout-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.accounts-container{
    display: flex;
    height: 100%;
}

.layout-container .accounts-content{
    margin-left: 15em;
    width: calc(100% - 15em);
    background-color: aliceblue;
    padding: 7em 6em 5em 6em;
    height: 200vh;
}

.close-menu{
    display: none;
}

@media (max-width: 810px){

    .layout-container .accounts-content{
        padding: 5em 5%;
    }

}

@media (max-width: 590px){

    .layout-container .accounts-content{
        width: 100%;
        background-color: aliceblue;
        padding: 5em 6em;
    }

    .layout-container .accounts-content{
        padding: 3em 5%;
    }

    .close-menu{
        display: flex;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.293);
        right: 0;
        width: calc(100% - 14em);
        height: 100%;
        transition: all 0.30s ease;
    }

}

@media (max-width: 590px){

    .layout-container .accounts-content{
        margin-left: 0em;
    }

}