
.layout-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.accounts-container{
    display: flex;
    height: 100%;
}

.layout-container .accounts-content{
    width: calc(100% - 15em);
    background-color: aliceblue;
    padding: 5em 6em;
}